.skill-learn {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to left bottom, rgb(255 255 255 / 70%), rgba(205, 190, 234, 0.12)), url('../assets/teach.jpg');
  background-size: cover;
  background-position: center bottom;
  transform: skewY(-7deg);
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 720px) {
    display: block;
    height: 100%;
  }
}

.box-learn-detail {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 20%) 0px 1.5rem 4rem;
  transition: transform 0.3s ease 0s;
  width: 33%;
}

//TODO
.skill-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  max-width: 114rem;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 1rem 0 1rem;
  transform: skewY(7deg);
  @media screen and (max-width: 720px) {
    //display: inline;
    //position: absolute;
    //top: 20%;
    //left: 10%;
  }
}

.card-div {

  width: 30%;
  background-color: hsla(0, 0%, 100%, .6) !important;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 720px) {
    width: 80%;
    margin-bottom: 20px;
  }
}

.card-title-h3 {
  color: rgb(129 131 130);
  font-size: 1.5rem;
  margin:0;
  font-family: "Arial Black";
  font-weight: bold;
}

card-div::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
  margin: -30px;
}

.card-div:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 3px #a29292;;
}


.ul-dots-remove {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: rgb(119, 119, 119);
  font-size: 1.3rem;
}

.ul-dots-remove-8 {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .li-test {
    width: 50%;
    float: left;
    padding-bottom: 10px;
    color: rgb(119, 119, 119);
    font-size: 1.3rem;
  }
}